@use 'mixin.scss';

#app {
  height: 100%;
}

html,
body {
  height: 100%;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.align-right {
  text-align: right;
}
.rest--text {
  color: #3b3b3b !important;
}
.info--text {
  color: mixin.$c-primary !important;
}
.success--text {
  color: mixin.$c-success !important;
}
.warning--text {
  color: mixin.$c-warning !important;
}
.error--text {
  color: mixin.$c-fail !important;
}

